//color start
$cf-red : #cf0000;
$cf-gray : #f1f1f1;
//color end

//bg start
$cf-bg-gary : #a09990;
$cf-bg-blue : #649bf3;
//bg end

//font start
$cf-font-gray : #666666;
$cf-font-red : #e93a38;
$cf-spr-gray : #ccc;

//border
$cf-border-gray : #e6e6e6;
$cf-border-red : #e93a38;

//container
$gutter-container : 1100px;
$no-gutter-container : 1120px;
