<dl class="i-number clearfix">
    <input id="subNumber" name="subNumber" ng-model="subNumber" type="hidden" required value="{{subNumber}}">
    <dt>副卡靓号：可选，选择副卡号码两人共享一个套餐和月租</dt>
    <dd>
        <div class="number-ctrl">
            <ul class="option-list" id="choose-nums2">
                <li class="n1" data-value="1"></li>
                <li class="n8" data-value="8"></li>
                <li class="n1" data-value="1"></li>
                <li ng-click="onclickSpan(2,3)" class="wnone" data-value=""></li>
                <li ng-click="onclickSpan(2,4)" class="none" data-value=""></li>
                <li ng-click="onclickSpan(2,5)" class="none" data-value=""></li>
                <li ng-click="onclickSpan(2,6)" class="none" data-value=""></li>
                <li ng-click="onclickSpan(2,7)" class="none" data-value=""></li>
                <li ng-click="onclickSpan(2,8)" class="none" data-value=""></li>
                <li ng-click="onclickSpan(2,9)" class="none" data-value=""></li>
                <li ng-click="onclickSpan(2,10)" class="none" data-value=""></li>
            </ul>
        </div>
    </dd>
</dl>