/* line 2, ../../../sass/ie8.scss */
.button-continue {
  background: #108d13;
  border-width: 1px;
  border-style: solid;
  border-color: #20a623 #108d13 #007503;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  padding: 7px 24px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 13, ../../../sass/ie8.scss */
.button-continue:hover, .button-continue:focus {
  background: #007503;
}

/* line 18, ../../../sass/ie8.scss */
.button-blue {
  background: #37aaea;
  border-width: 1px;
  border-style: solid;
  border-color: #1992d9;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  padding: 7px 24px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 29, ../../../sass/ie8.scss */
.button-blue:hover, .button-blue:focus {
  background: #117ed2;
}

/* line 34, ../../../sass/ie8.scss */
.button-gray {
  background: #ebebeb;
  border-width: 1px;
  border-style: solid;
  border-color: #b5b5b5;
  color: #666;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  padding: 7px 24px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 45, ../../../sass/ie8.scss */
.button-gray:hover, .button-gray:focus {
  background: #d7d7d7;
}
