<div class="main-index flow">
    <div class="ng-gh"></div>
    <div class="ng-activity"></div>
    <div class="content">
        <div class="content-head">
            <div class="content-main">
                <!--<span class="move-little"></span>-->
                <!--<span class="move-big animated-2 bounceIn"></span>-->
                <div class="charging-box">
                    <form id="mobile-form" method="post" action="https://www.baifubao.com/_u/pdc/pdc_huodong">
                        <fieldset>
                            <div class="form-content form-content-product">
                                <p class="title" style="color: #ff6336">输入手机号码，现在就抢！</p>
                                <p class="mobile-number-box clearfix">
                                    <input id="mobile-number" class="form-input mobile-number fl" ng-model="mobile"
                                           name="mobile" ng-blur="inputMobile(mobile)"
                                           ng-pattern="/^[0-9]*$/" pattern="[0-9]*" ng-minlength="11" class="weui-input"
                                           placeholder="请输入手机号码" required/>
                                    <span id="phone-address" class="form-text fl"
                                          ng-class="{true:'mobile-success',false:''}[!!mobile]" ng-show="mobile"
                                          ng-bind="listData.area_operator"></span>
                                </p>
                                <p id="mobile-confirm" class="form-text striking" style="display:none;"></p>
                                <!----><span class="plachholder-span" style="display:none;">支持移动、联通、电信</span><!---->
                                <input id="mobile-price" value="500" name="price" type="hidden">
                                <input id="isHuodong" value="1" name="is_huodong" type="hidden">
                                <input id="inviteCode" value="" name="" type="hidden">
                                <input id="channel_no" name="channel_no" value="CHF1000000" type="hidden">
                            </div>
                            <ul class="mobile-price-list clearfix">
                                <li class="price-item active" ng-show="product">
                                    <p class="price-before"><span ng-bind="product.productName"></span></p>
                                    <!--<p class="price-now">特价&nbsp;￥<span ng-bind="product.salesPrice | number : 2"></span>
                                    </p>-->
                                    <span class="tip-little"></span>
                                </li>
                                <li class="price-item" ng-show="!product" ng-click="selectedProd(item);"
                                    ng-class="{true:'active',false:''}[item.productId === product.productId]"
                                    ng-repeat="item in listData.data | limitTo : limitTo">
                                    <p class="price-before">流量面值：<span ng-bind="item.productName"></span></p>
                                    <p style="display: none" class="price-now">特价&nbsp;￥<span
                                            ng-bind="item.salesPrice | number : 2"></span>
                                    </p>
                                    <span class="tip-little"></span>
                                </li>
                                <li class="price-item" ng-show="showMore" ng-click="more()">
                                    <p class="price-before">更多套餐</p>
                                    <!--<p class="price-now"><span>更多套餐</span></p>-->
                                    <span class="tip-little"></span>
                                </li>
                            </ul>

                            <ul class="mobile-price-list clearfix" ng-show="regionProducts">
                                <!--<li class="price-item active" ng-show="regionProduct">
                                    <p class="price-before"><span ng-bind="product.productName"></span></p>
                                    <p class="price-now">{{regionProduct.regionName}}&nbsp;￥<span ng-bind="regionProduct.salesPrice | number : 2"></span>
                                    </p>
                                    <span class="tip-little"></span>
                                </li>-->
                                <li class="price-item"
                                    ng-class="{true:'active',false:''}[item.productFlowPriceId === regionProduct.productFlowPriceId]"
                                    ng-repeat="item in regionProducts" ng-click="buyProd(item)">
                                    <p class="price-before">{{item.regionName}}流量<del style="margin-left: 10px"> 原价：￥{{item.costPrice | number : 2}}</del></p>
                                    <p class="price-now">特价&nbsp;￥<span
                                            ng-bind="item.salesPrice | number : 2"></span>
                                    </p>
                                    <span class="tip-little"></span>
                                </li>
                            </ul>
                            <p>
                                <span id="mobile-submit" class="charging-btn"
                                      ng-class="{true:'',false:'disabled'}[!!regionProduct.productFlowPriceId]"
                                      ng-click="pay(regionProduct.productFlowPriceId,mobile, product.productId, regionProduct.productFlowPriceId, listData.area_operator, 'flowBag', gh)"></span>
                            </p>
                            <div class="aaa"
                                 style="filter:alpha(Opacity=20); -moz-opacity:0.2;opacity: 0.2;  background: #000; width: 240px;  height: 44px;    margin-top: -44px; display:none;"></div>
                            <p></p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="content-main">

            </div>
        </div>
        <!--<a href="https://qianbao.baidu.com/hd/tj" target="_blank" style="position:fixed;left:50%;top:40%;margin-left:470px;_position: absolute;_top:20%;"><img src="https://co.baifubao.com/content/resource/promo/tuijianUpdate/images/huodong.png" class="png"/></a>-->
        <div class="content-foot">
            <div class="content-main foot-main clearfix">
                <div class="rule-left fl">
                    <h2>注意事项：</h2>
                    <div class="clearfix">
                        <p class="foot-num">1、</p>
                        <p class="foot-text">订单中输入的充值号码务必填写正确，因为自动充值，一旦填错，无法修改和退款；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">2、</p>
                        <p class="foot-text">
                            流量到帐时间：正常1~10分钟内到帐，流量充值高峰期（月初、月末、节假日）到帐时间可能会有延迟。流量充值成功以后，会有短信提醒，请注意：有时候由于官方系统延迟，收到短信但是流量未到，请务必核实流量确实到账后再使用，避免流量延迟产生额外费用。（如果由于您未核实到帐与否就使用该流量而造成的损失我们概不负责）</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">3、</p>
                        <p class="foot-text">充值的流量不能抵扣充值之前套餐超出的流量；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">4、</p>
                        <p class="foot-text">此流量为全国（港澳台除外）通用流量或省内流量（根据你选择的流量包确定），仅限充值的号码使用，不可共享或分享；
                        </p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">5、</p>
                        <p class="foot-text">请确认您的号码未欠费停机，本流量包要在您的号码正常使用情况下才能使用；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">6、</p>
                        <p class="foot-text">此流量包不支持日租卡，请注意！</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">7、</p>
                        <p class="foot-text">如果你是电信号码用户，每月初1~3日为电信系统出账日，所以流量充值会有延时，请您耐心等待一下哦；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">8、</p>
                        <p class="foot-text">本商品当月有效，月末最后一天24点清零，按照自然月计算，未使用完的部分不能延续、累加至次月，仅限当月使用<br>例如：您9月9日充值成功，则有效期到9月30日24点，请根据自身的需求合理选择购买；
                        </p>
                    </div>
                    <h2>温馨提示：</h2>
                    <div class="clearfix">
                        <p class="foot-num">1、</p>
                        <p class="foot-text">流量使用先后顺序，以当地运营商实际计费为准；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">2、</p>
                        <p class="foot-text">流量直充产品开通后立即生效，无法取消，到期自动失效；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">3、</p>
                        <p class="foot-text">流量是否充值成功，以运营商官方网上营业厅查询为准；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">4、</p>
                        <p class="foot-text">流量充值产品在2G/3G/4G网络通用，使用4G网络需在4G网覆盖范围；
                        </p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">5、</p>
                        <p class="foot-text">每月可多次办理；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">6、</p>
                        <p class="foot-text">48小时流量未到帐，请联系客服通过网厅查询后退款；</p>
                    </div>
                    <h2>退款说明：</h2>
                    <div class="clearfix">
                        <p class="foot-num">1、</p>
                        <p class="foot-text">对流量充值引起的纠纷，希望提供查询密码配合我们查询，如果流量未到帐承诺全额退款，退款如果客户不提供查询密码，则无法退款；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">2、</p>
                        <p class="foot-text">号码充错，拨打显示空号，系统充值成功不支持退款；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">3、</p>
                        <p class="foot-text">由于流量月底清零，当月订单如未查询流量到账，请当月月末最后一天中午十二点前必联系客服处理，否则跨月流量清零，无法查询核对，不支持退款；</p>
                    </div>
                    <div class="clearfix">
                        <p class="foot-num">4、</p>
                        <p class="foot-text">系统自动充值，48小时内充值中的订单不支持退款；
                        </p>
                    </div>
                </div>
            </div>

            <!--<div class="footer-message">
                <ul class="clearfix">
                    <li>
                        <a target="_blank"
                           href="http://co.baifubao.com/content/payhelp/introduction/productintroduction/2013-09-29/1385773981.html">关于百度钱包</a>
                        |
                    </li>
                    <li>
                        <a target="_blank" href="http://co.baifubao.com/content/payhelp/">帮助中心</a>
                        |
                    </li>
                    <li>
                        <a target="_blank" href="http://co.baifubao.com/content/promo/zhaopin.html">诚征英才</a>
                        |
                    </li>
                    <li>
                        <a target="_blank"
                           href="http://co.baifubao.com/content/payhelp/introduction/contact/2013-10-26/1385371610.html">联系我们</a>
                    </li>
                </ul>
                <p class="copyright">
                    百度钱包（百度旗下支付平台）版权所有2016京ICP证100641号2016Baidu
                    <a target="_blank" href="https://www.baidu.com/duty/">使用百度前必读</a>
                    <a target="_blank"
                       href="http://co.baifubao.com/content/payhelp/introduction/serviceagreement/2013-10-17/1385373751.html">百度钱包协议</a>
                </p>
            </div>-->
        </div>
    </div>
</div>