.product-detail {
  .product-image-list .img-list li {
    &.curr {
      img {
        border:1px solid #e4393c !important;
      }
    }
  }
  .product-list {
    .product-item {
      .item-name {
        text-align: center;
      }
      .item-amount {
        text-align: center;
        em {
          font-size: 16px;
          color: #ff6600;
          font-style: normal;
        }
      }
    }
  }
  .item-detail-copyright {
    line-height: 180%;
    padding: 0 10px;
  }
  .item-detail-copyright strong {
    display: inline-block;
    padding: 8px 0 3px;
  }
  .serve-agree-bd {
    padding: 20px 20px 20px 62px;
  }
  .serve-agree-bd dt {
    //color: #e4393c;
    display: block;
    font-family: "microsoft yahei";
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    margin-left: -42px;
  }
  .serve-agree-bd dt i {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
    vertical-align: bottom;
    width: 32px;
  }
  .serve-agree-bd dd {
    display: block;
    line-height: 18px;
    padding: 10px 0 30px;
  }
  #parameter-brand, .serve-agree-bd .no-worries-text {
    padding-bottom: 0;
  }
  .serve-agree-bd dd a {
    color: #005aa0;
  }

  .comment {
    margin: 30px;
  }

  .comment-info {
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }

  .comment .comment-info .percent-tit {
    font-size: 20px;
  }
  .comment .comment-info .percent-con {
    color: #e4393c;
    font-family: arial;
    font-size: 45px;
    line-height: 110%;
  }

  .comment .comment-item {
    border-bottom: 1px solid #ddd;
    padding: 30px 15px 15px;
  }

  .comment .comment-item .user-column {
    float: left;
    width: 140px;
  }
  .comment .comment-item .user-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .comment .comment-item .user-info img {
    border-radius: 50%;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    display: inline;
    vertical-align: middle;
  }
  .comment .comment-item .user-level {
    padding-top: 3px;
  }
  .comment .comment-item .user-level span {
    color: #088000;
    margin-right: 8px;
  }
  .comment .comment-item .comment-column {
    margin-left: 150px;
  }
  .comment .comment-item .comment-star {
    background: rgba(0, 0, 0, 0) url("//static.360buyimg.com/item/default/1.0.32/components/comment/i/star.png") no-repeat scroll 0 0;
    height: 14px;
    width: 78px;
  }
  .comment .comment-item .star0 {
    background-position: -80px 0;
  }
  .comment .comment-item .star1 {
    background-position: -64px 0;
  }
  .comment .comment-item .star2 {
    background-position: -48px 0;
  }
  .comment .comment-item .star3 {
    background-position: -32px 0;
  }
  .comment .comment-item .star4 {
    background-position: -16px 0;
  }
  .comment .comment-item .star5 {
    background-position: 0 0;
  }
  .comment .comment-item .comment-con {
    color: #333;
    font-size: 14px;
    line-height: 180%;
    padding: 10px 0;
  }
  .comment .comment-message::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .comment .comment-item .order-info {
    color: #999;
    float: left;
  }
  .comment .comment-item .order-info span {
    margin-right: 20px;
  }
  .comment .comment-item .order-info .p-tooltips span, .comment .comment-item .order-info .user-access {
    margin-right: 0;
  }
  .comment .comment-item .order-info a {
    color: #999;
  }
  .comment .comment-item .order-info a:hover {
    color: #e4393c;
  }
  .comment .comment-item .order-info .source {
    position: relative;
  }
}

.price-buy {
  line-height: 28px;
  position: relative;
  .bijia {
    position: absolute;
    right: 0;
    top: 10px;
    em {
      font-size: 14px !important;
    }
  }
}

#store-selector {
  @include inline-block;
  position: relative;
  z-index: 3;
  .text {
    padding-left: 4px;
    padding-right: 20px;
    position: relative;
    border: 1px solid #ccc;
    @include box-sizing(border-box);
    @include box-shadow(0 1px 3px #ddd inset);
    font-size: 14px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 280px;
    vertical-align: middle;
    @include border-radius(4px);
    color: #666;
    b {
      background-image: url("../images/icon.png");
      background-repeat: no-repeat;
      background-position: -264px -188px;
      display: block;
      height: 24px;
      overflow: hidden;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 17px;
    }
  }
  &.hover {
    .text {
    }
    .content {
      display: block;
    }
  }
  .content {
    background: #fff;
    border: 1px solid #cf0000;
    @include box-shadow(0 0 5px #ddd);
    display: none;
    padding: 15px;
    position: absolute;
    top: 40px;
    width: 390px;
    @include box-sizing(content-box);
    .CF-stock {
      position: relative;
      .tab {
        border-bottom: 2px solid #cf0000;
        float: left;
        height: 25px;
        overflow: visible;
        width: 100%;
        li {
          clear: none;
          float: left;
          padding: 0;
          text-align: center;
          margin-right: 0;
          margin-bottom: 0;
          border: 0;
          a {
            border: 1px solid #ddd;
            border-bottom: 0;
            cursor: pointer;
            float: left;
            height: 23px;
            line-height: 23px;
            margin-right: 3px;
            padding: 0 21px 1px 11px;
            position: relative;
            text-align: center;
            color: #005aa0;
            em {
              line-height: 22px;
              cursor: pointer;
              font-size: 15px;
              font-style: normal;
            }
            i {
              background-image: url("../images/cf-stock.png");
              background-position: 0 -35px;
              display: block;
              height: 5px;
              overflow: hidden;
              position: absolute;
              right: 4px;
              top: 10px;
              width: 7px;
            }
          }
          &.curr {
            a {
              border: 2px solid #cf0000;
              border-bottom: 0;
              padding: 0 20px 0 10px;
              text-decoration: none;
              height: 25px;
              line-height: 22px;
              background-color: #fff;
              color: #333;
              font-weight: bold;
            }
          }
        }
      }
    }
    .m {
      margin-bottom: 10px;
      overflow: hidden;
    }
    .mt {
      cursor: default;
      overflow: hidden;
    }
    .mc {
      overflow: hidden;
      .area-list {
        padding-top: 5px;
        li {
          clear: none;
          padding-top: 2px;
          padding-right: 0;
          padding-bottom: 2px;
          padding-left: 15px;
          float: left;
          width: 80px;
          margin-bottom: 0;
          border: 0;
          line-height: 1.2;
          margin-right: 0;
          &.long-area {
            width: 170px;
          }
          a {
            color: #005aa0;
            float: left;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 14px;
            &:hover {
              color: #fff;
              background: #cf0000;
            }
          }
        }
      }
    }
  }
  .close {
    background-image: url("../images/icon.png");
    background-position: -257px -86px;
    height: 17px;
    left: 412px;
    position: absolute;
    top: 31px;
    width: 17px;
    z-index: 2;
    cursor: pointer;
    @include opacity(1);
  }
}

.Ptable-tips {
  .content {
    background-color: #fff;
  }
}