fieldset {
  border: none;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
}

.clearfix::after, .feed::after, .feed-content .headline::after, .comment::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix::after {
  clear: both;
  content: " ";
  display: block;
}

.w-980 {
  margin: 0 auto;
  width: 980px;
}

.fl {
  display: inline;
  float: left;
}

.fr {
  display: inline;
  float: right;
}

.top-menu {
  line-height: 40px;
}

.top-menu a {
  color: #262626;
  font-size: 12px;
}

.content {
  background-color: #ff6334;
  width: 100%;
}

.content-head {
  background: transparent url("/images/flow/head-bg1.jpg") no-repeat scroll center center;
  height: 840px;
  width: 100%;
}

.content-head .content-main {
  position: relative;
}

.animated-1 {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-2 {
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounceIn {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceIn2 {
  0% {
    opacity: 0;
    transform: scale(1.8);
  }
  75% {
    transform: scale(1.5);
  }
  85% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceIn2 {
  0% {
    opacity: 0;
    transform: scale(1.8);
  }
  75% {
    transform: scale(1.5);
  }
  85% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bounceIn2 {
  animation-name: bounceIn2;
}

.move-big {
  background: transparent url("/images/flow/move-big.png") no-repeat scroll center center;
  height: 214px;
  left: 340px;
  position: absolute;
  top: 12px;
  width: 176px;
  z-index: 100;
}

.move-little {
  background: transparent url("/images/flow/move-little.jpg") no-repeat scroll center center;
  height: 50px;
  left: 512px;
  position: absolute;
  top: 21px;
  width: 50px;
}

.content-body {
  background: transparent url("/images/flow/mid-bg1.jpg") no-repeat scroll center center;
  height: 331px;
  width: 100%;
}

.content-foot {
  background: transparent url("/images/flow/foot-bg1.jpg?123") no-repeat scroll center top;
  height: 1135px;
  width: 100%;
}

.content-main, .footer-message {
  margin: 0 auto;
  width: 920px;
}

.attent-num {
  background-color: #feffcc;
  color: #f14948;
  display: inline-block;
  font-family: "MicroSoft Yahei";
  font-size: 16px;
  font-weight: bold;
  height: 28px;
  letter-spacing: 2px;
  line-height: 28px;
  margin-right: -7px;
  padding: 0 10px;
  position: absolute;
  right: 8px;
  text-align: right;
  top: 257px;
  width: 107px;
}

.charging-box {
  left: 92px;
  position: absolute;
  top: 375px;
  z-index: 20;
}

input.mobile-number {
  border: 2px solid #fd8391;
  color: #333;
  font-family: "MicroSoft Yahei";
  font-size: 16px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  outline: medium none;
  padding: 0 20px;
  width: 240px;
}

.mobile-number-box input.border-dark {
  border-color: #f3384e;
}

.mobile-price-list {
  margin: 18px 0 20px;
  z-index: 1;
}

.price-item {
  background-color: #fff1bd;
  border: 2px solid #f7e099;
  cursor: pointer;
  display: block;
  float: left;
  font-family: "MicroSoft Yahei";
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 170px;
  z-index: 1;
}

.tip-little {
  background: transparent url("/images/flow/tip.png") no-repeat scroll 0 0;
  display: none;
  height: 38px;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
}

.active .tip-little {
  display: block;
}

.price-item p {
  padding-left: 10px;
}

.mobile-price-list .active {
  border-color: #f3384e;
}

.mobile-price-list .hover {
  border-color: #f3384e;
}

.price-before {
  background-color: #ffeaaa;
  color: #8e4f21;
  height: 36px;
  line-height: 36px;
}

.price-now {
  background-color: #fff1bd;
  color: #ff6934;
  padding-bottom: 10px;
  padding-top: 10px;
}

.active .price-before, .active .price-now {
}

.price-before span {
  font-family: "arial";
  font-size: 15px;
  font-weight: bold;
}

.price-now span {
  font-family: "arial";
  font-size: 34px;
  font-weight: bold;
}

.active .price-now span {
  color: #f14627;
}

.foot-main {
  color: #4768c7;
  font-family: "MicroSoft Yahei";
  width: 780px;
}

.rule-left, .notice-right {
  padding-left: 26px;
  width: 360px;
}

.rule-left {
  padding-left: 60px;
  width: 700px;
}

.foot-main h2 {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}

.foot-main p {
  line-height: 22px;
}

.foot-num {
  float: left;
  font-weight: bold;
}

/*.foot-text {
    float: left;
}*/

.footer-message {
  margin-top: 365px;
  text-align: center;
}

.footer-message li {
  display: inline;
  line-height: 36px;
}

.footer-message, .footer-message a {
  color: #4a403d;
  font-size: 12px;
}

span.charging-btn {
  background: transparent url("/images/flow/charging-btn1.jpg") no-repeat scroll 0 0;
  display: block;
  height: 44px;
  width: 240px;
  cursor: pointer;
}

span.charging-btn.disabled {

}

span.charging-btn:hover {
  background-position: 0 -44px;
}

.form-content {
  position: relative;
  z-index: 100;
}

.form-content .title {
  font-size: 20px;
}

#mobile-confirm {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: currentcolor #a1a1a1 #a1a1a1;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #f3384e;
  font-family: "MicroSoft Yahei";
  font-size: 20px;
  font-weight: bold;
  height: 32px;
  left: 0;
  line-height: 32px;
  padding: 4px 20px;
  position: absolute;
  top: 38px;
  width: 242px;
}

.plachholder-span {
  color: #919191;
  font-family: "MicroSoft Yahei";
  font-size: 16px;
  font-weight: bold;
  left: 22px;
  line-height: 34px;
  position: absolute;
  top: 2px;
}

#phone-address {
  display: inline-block;
  font-family: "MicroSoft Yahei";
  height: 34px;
  line-height: 34px;
  margin-left: 18px;
  padding-left: 20px;
}

.mobile-error {
  background: rgba(0, 0, 0, 0) url("/images/flow/tip-icon_605c01d.png") no-repeat scroll 0 10px;
  color: #f7524e;
}

.mobile-success {
  background: rgba(0, 0, 0, 0) url("/images/flow/tip-icon_605c01d.png") no-repeat scroll 0 -90px;
  color: #1cb36e;
}

#user_info span {
  font-size: 12px;
}

.dialog {
  background: rgba(0, 0, 0, 0) url("/images/flow/sure-pop1.jpg") no-repeat scroll 0 0;
  height: 300px;
  width: 600px;
}

.xiaxian {
  background: rgba(0, 0, 0, 0) url("/images/flow/img.png") no-repeat scroll 0 0;
  height: 300px;
  width: 600px;
}

.xiaxian .dialog-button0 {
  bottom: 45px;
  right: 225px;
}

.dialog-overlay {
  background: #131824 none repeat scroll 0 0;
  opacity: 0.9;
}

.dialog-content, .dialog-buttons01 {
  height: 140px;
  position: relative;
}

.iclose, .dialog-button0, .dialog-button1 {
  display: block;
  position: absolute;
}

.iclose {
  background: #fffeec none repeat scroll 0 0;
  height: 25px;
  right: 30px;
  top: 28px;
  width: 25px;
}

.dialog-button0, .dialog-button1 {
  bottom: 55px;
  height: 45px;
  width: 150px;
}

.dialog-button0 {
  left: 225px;
}

.dialog-button1 {
  right: 130px;
}