.pay-state {
  background: none;
  .step {
    text-align: right;
  }
  .msg-box {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    background: #fff;
    padding: 30px;
  }
}