.mini-tab {
  position: absolute;
  z-index: 3;
  left: 0px;
  .text {
    padding-left: 4px;
    padding-right: 20px;
    position: relative;
    border: 1px solid #ccc;
    @include box-sizing(border-box);
    @include box-shadow(0 1px 3px #ddd inset);
    font-size: 14px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 280px;
    vertical-align: middle;
    @include border-radius(4px);
    color: #666;
    b {
      background-image: url("../images/icon.png");
      background-repeat: no-repeat;
      background-position: -264px -188px;
      display: block;
      height: 24px;
      overflow: hidden;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 17px;
    }
  }
  &.hover {
    .content {
      display: block;
    }
  }
  .content {
    background: #fff;
    border: 1px solid #cf0000;
    @include box-shadow(0 0 5px #ddd);
    display: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 600px;
    @include box-sizing(content-box);
    .m {
      position: relative;
      overflow: hidden;
    }
    .mt {
      cursor: default;
      overflow: hidden;
    }
    .mc {
      overflow: hidden;
      .tab-content {
        li {
          border:0;
          margin:0;
          padding:0;
          list-style: none;
          float: none !important;
          a {
            color: #005aa0;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 14px;
            &:hover {
              color: #fff;
              background: #cf0000;
            }
          }
        }
      }
    }
  }
  .close {
    background-image: url("http://www.yfq.cn/templates/default/pages/active/fanghao/images/icon.png");
    background-position: -257px -86px;
    height: 17px;
    left: 580px;
    position: absolute;
    top: -24px;
    width: 17px;
    z-index: 2;
    cursor: pointer;
    @include opacity(1);
    display: none;
  }
}